#hd {
  text-align: center;
  padding: 50px;
  border-style: solid;
  border-top: 0px;
  border-left: 0px;
  border-right: 0px;
  border-left: 0px;
  border-right: 0px;
}

#cl {
  text-align: center;
  padding: 50px;
  border-style: solid;
  border-top: 0px;
  border-left: 0px;
  border-right: 0px;
  border-left: 0px;
  border-right: 0px;
}

#if {
  text-align: center;
  padding: 50px;
  border-style: solid;
  border-top: 0px;
  border-left: 0px;
  border-right: 0px;
  border-left: 0px;
  border-right: 0px;
}

#ft {
  text-align: center;
  padding: 50px;
  border-style: solid;
  border-top: 0px;
  border-left: 0px;
  border-right: 0px;
}
